/* css common for all */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

:root {
    --red: #FD5E53;
    --white: #F9FCFB;
    --lightgreen: #B0EACD;
    --green: #21BF73;
}

p {
    margin: 0;
}

/* header start */

/* cutom header */

.redbg {
    background-color: var(--red);
    color: white;
}

#sb-toggle {
    font-size: 14px;
}

#vego-logo {
    margin-right: auto;
    margin-left: 0.6rem;
}

#vego-logo img {
    height: 1.8rem;
}

/* searchbar */

.searchbargrp {
    width: 100%;
    background-color: var(--blue);
    padding: 7px 0px 0px 0px;
}

.searchbargrp input {
    border: none;
}

#sbarbtn {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbargrp input::placeholder {
    font-size: 14px;
}

/* language change */

#langchange {
    font-size: 13px;
}

#langchange:hover>.dropdown-menu {
    display: block;
}

/* all nav items to be in a flex box */

#desknavitems {
    display: flex;
    padding-left: 0.8rem;
    justify-content: space-around;
}

#desknavitems li {
    list-style: none;
}

.homelink-active {
    text-decoration: underline;
}

#desknavitems .navlinks {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.navlinks .material-icons {
    margin-right: 0.4rem;
}

/* header end */

/* location bottom */

#locationoffcanvas input::placeholder {
    font-size: 12px;
}

#locationoffcanvas button {
    font-size: 12px;
}

#defaultaddress {
    padding: 0.5rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border: 1px solid var(--lightgreen);
    background-color: var(--lightgreen);
}

/* mobile sidebar */

/* sidebar in mobile and ipad */

#mob-sidebar {
    width: 75%;
    overflow-y: scroll;
}

#mobsidebarheader {
    background-color: var(--lightgreen);
    padding: 0.8rem;
    padding-top: 0.9rem;
    box-shadow: -1px -1px 3px var(--lightgreen);
}

#mobsidebarheader a {
    font-size: 12px;
    color: black;
}

#mobsidebarusername p {
    color: black;
    margin-bottom: 0px;
    font-weight: 550;
}

/* sidebar link items */

#mobsidebaritems {
    font-size: 14px;
    background-color: #f3f3f3;
}

.mobsidebaritem {
    padding: 0.6rem;
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: #fff;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    color: rgb(88, 88, 88);
    padding-bottom: 0px;
}

.mobsidebaritem span {
    font-size: 15px;
    display: inline-block;
    padding-top: 4px;
    padding-right: 6px;
}

.mobsidebaritem a {
    margin-bottom: 1.1rem;
    font-weight: 550;
}

/* location section */

.locationsection {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgb(0 0 0 / 11%);
}

.locationsection p {
    font-size: 0.9rem;
    padding: 0.6rem 0rem 0.6rem 0.3rem;
}

.locationsection .gpsicon {
    font-size: 1.4rem;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
}

.locationsection .expand {
    font-size: 1rem;
}

/* Smartphones ----------- */

@media only screen and (min-device-width: 200px) and (max-device-width: 689px) {
    /* navbar */
    .offcanvas-collapse {
        position: fixed;
        visibility: hidden;
    }
    /* location bottom model */
    #locationoffcanvas {
        height: 47%;
    }
}

/* iPads ----------- */

@media only screen and (min-device-width: 690px) and (max-device-width: 1211px) {
    /* navbar */
    .searchbargrp {
        width: 60%;
    }
    #desknavitems {
        margin-top: 1rem;
    }
    /* location sidebar bottom */
    #locationoffcanvas {
        height: 41%;
    }
    /* location sidebar under header */
    .locationsection {
        display: none;
    }
}

/* Desktops and laptops ----------- */

@media only screen and (min-device-width: 1212px) {
    /* navbar */
    .searchbargrp {
        width: 30%;
        margin-top: -4px;
        margin-left: 1rem;
    }
    /* language change in desktop */
    #langchangeitems {
        font-size: 13px;
    }
    /* location sidebar bottom */
    #locationoffcanvas {
        height: 41%;
    }
    /* location sidebar under header */
    .locationsection {
        display: none;
    }
}